PORT=8000
MONGODB_URI=mongodb+srv://sudhansu:behera123@cluster0.2kwkdg6.mongodb.net
CORS_ORIGIN=*

ACCESS_TOKEN_SECRET=OTUCKcyqgZAaM0ogRHVIg9GG_Gzh9zMoEFReQSdFe
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=QWERsdcaRFTAGBNCDg
REFRESH_TOKEN_EXPIRY=10d